body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 17px;
}
main{
    max-width: 1140px;
    min-height: 58vh;
    margin:auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2vh;
    margin-bottom: 5vh;

}
header{
    background-image:url("../images/header-background-zaklad.jpg");
    background-size: cover;
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
footer{
    background-color: #000000;
    color:#34b30a;
    font-family: "VT323", sans-serif;
    text-transform: uppercase;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}
/* NAV MENU */
.topnavwrap {
    width: 100%;
    background-color: #000000;
    justify-content: center;
}
.topnav {
    justify-content: center;
    font-family: "VT323", sans-serif;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    overflow: hidden;
    background-color: #000000;
    display: block;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color:#34b30a;
}

.topnav a.active {
    color:#34b30a;
}
/**/
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container > div {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #4d4d4d;
    width: 400px;
    margin: 10px;
    border-radius: 15px;
}
.flex-container > div > h3{
    text-align: center;
}
col{
    width: 33%;
    background-color: red;
}


h1{
    text-align: center;
    color:#ffffff;
    font-size: 5vh;
    font-family: "VT323", sans-serif;
    text-transform: uppercase;
}
h2{
    color:#34b30a;
}
h3{
    color:#34b30a;
}
h4{
    color:#34b30a;
}
p.cara{
    color: grey;
    border-color: grey;
    border-left: 15px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-style:solid;
    padding-left: 20px;
    border-radius: 10px;
}
.zvyrazneni{
  color:#34b30a;
}
.row{
    display: flex;
}
.column-33{
    flex: 33%;
    margin: 10px;
    padding: 10px;
    background-color: grey;
    border-radius: 15px;
}
.collum-50{
    flex: 50px;
    padding: 10px;
    margin: 10px;   
}
.img-grow{
    transition: all .25s ease-in-out;
}
.img-grow:hover{
    transform: scale(1.05);
}
table{
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid black;
    padding: 10px;
}
.text-italic{
    font-style: italic;
}
.text-center{
    text-align: center;
}
th{
    background-color: gray;
}
